{% extends './layout/default' %}

{% block title %}{{ subTitle }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa {{ subTitleIcon }}"></i>
                        {{ subTitle }}
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-warning btn-sm sync-all-accounts-btn" 
                                title="Sync All Accounts" data-account-type="all">
                            <span class="fa fa-refresh"></span> Sync All
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm match-unknown-btn" 
                                title="Match UNKNOWN counterparties" style="margin-left:6px;">
                            <span class="fa fa-link"></span> Match UNKNOWN
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <!-- Search and Filter Controls -->
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" id="accountSearch" placeholder="Search accounts...">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="accountTypeFilter">
                                <option value="">All Types</option>
                                {% for typeKey, typeData in accountTypes %}
                                    <option value="{{ typeKey }}">{{ typeData.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="institutionFilter">
                                <option value="">All Institutions</option>
                                <!-- Will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="statusFilter">
                                <option value="">All Status</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default btn-block" id="clearFilters">
                                <i class="fa fa-times"></i> Clear Filters
                            </button>
                        </div>
                    </div>
                    
                    <!-- Results Summary -->
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <p class="text-muted">
                                Showing <span id="visibleCount">0</span> of <span id="totalCount">0</span> accounts
                            </p>
                        </div>
                    </div>
                    
                    <!-- Accounts Table -->
                    <div class="table-responsive">
                        <table class="table sortable table-striped table-hover" id="accounts-table">
                            <thead>
                                <tr>
                                    <th data-defaultsign="az">Type</th>
                                    <th data-defaultsign="az">Institution</th>
                                    <th data-defaultsign="az">Account Holder</th>
                                    <th data-defaultsign="az">Product Name</th>
                                    <th data-defaultsign="az">Account Number</th>
                                    <th data-defaultsign="_19">Beneficiaries</th>
                                    <th data-defaultsign="_19">Balance</th>
                                    <th data-defaultsign="az">Active</th>
                                    <th data-defaultsort="disabled">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="accountsTableBody">
                                {% for typeKey, typeData in accountTypes %}
                                    {% for account in typeData.accounts %}
                                        <tr data-account-type="{{ typeKey }}" 
                                            data-institution="{% set institution = accountGetMetaField(account, 'institution') %}{% if institution %}{{ institution|lower }}{% endif %}"
                                            data-status="{% if account.active %}active{% else %}inactive{% endif %}">
                                            <td data-value="{% set accountType = accountGetMetaField(account, 'account_type') %}{% if accountType %}{{ accountType|lower }}{% else %}{{ account.accountType.type|lower }}{% endif %}">
                                                {% if accountType %}
                                                    {{ accountType }}
                                                {% else %}
                                                    {{ account.accountType.type }}
                                                {% endif %}
                                            </td>
                                            <td data-value="{% set institution = accountGetMetaField(account, 'institution') %}{% if institution %}{{ institution|lower }}{% else %}{% endif %}">
                                                {% if institution %}
                                                    {% if account.institutionEntity %}
                                                        <a href="{{ route('financial-entities.show', account.institutionEntity.id) }}" class="text-primary">
                                                            {{ institution }}
                                                        </a>
                                                    {% else %}
                                                        {{ institution }}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{% set owner = accountGetMetaField(account, 'account_holder') %}{% if owner %}{{ owner|lower }}{% else %}{% endif %}">
                                                {% if owner %}
                                                    {% if account.accountHolder %}
                                                        <a href="{{ route('financial-entities.show', account.accountHolder.id) }}" class="text-primary">
                                                            {{ owner }}
                                                        </a>
                                                    {% else %}
                                                        {{ owner }}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{% set productName = accountGetMetaField(account, 'product_name') %}{% if productName %}{{ productName|lower }}{% else %}{% endif %}">
                                                {% if productName %}
                                                    {{ productName }}
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{% if account.account_number %}{{ account.account_number|lower }}{% else %}{% endif %}">
                                                {% if account.account_number %}
                                                    {{ account.account_number }}
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{% set beneficiaries = accountGetBeneficiaries(account) %}{% if beneficiaries %}{% set totalBeneficiaries = 0 %}{% for priority, beneficiaryList in beneficiaries %}{% set totalBeneficiaries = totalBeneficiaries + beneficiaryList|length %}{% endfor %}{{ totalBeneficiaries }}{% else %}0{% endif %}">
                                                {% if beneficiaries %}
                                                    {% set totalBeneficiaries = 0 %}
                                                    {% for priority, beneficiaryList in beneficiaries %}
                                                        {% set totalBeneficiaries = totalBeneficiaries + beneficiaryList|length %}
                                                    {% endfor %}
                                                    <span class="label label-info" title="View details for beneficiary information">
                                                        <i class="fa fa-users"></i> {{ totalBeneficiaries }} beneficiary{{ totalBeneficiaries != 1 ? 'ies' : '' }}
                                                    </span>
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{{ account.current_balance }}" style="text-align: right;">
                                                {% if account.current_balance is not null %}
                                                    {% if account.accountType.type in ['Asset account', 'Default account', 'Brokerage account', 'Holding account'] %}
                                                        <span class="text-success">
                                                            {{ formatAmountBySymbol(account.current_balance, account.currency_symbol, account.currency_decimal_places) }}
                                                        </span>
                                                    {% elseif account.accountType.type in ['Loan', 'Debt', 'Mortgage', 'Credit card'] %}
                                                        <span class="text-danger">
                                                            {{ formatAmountBySymbol(account.current_balance, account.currency_symbol, account.currency_decimal_places) }}
                                                        </span>
                                                    {% else %}
                                                        {{ formatAmountBySymbol(account.current_balance, account.currency_symbol, account.currency_decimal_places) }}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="text-muted">-</span>
                                                {% endif %}
                                            </td>
                                            <td data-value="{% if account.active %}active{% else %}inactive{% endif %}">
                                                {% if account.active %}
                                                    <span class="label label-success">Active</span>
                                                {% else %}
                                                    <span class="label label-default">Inactive</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                    <a href="{{ route('accounts.show', account.id) }}" class="btn btn-default btn-xs" title="View">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-primary btn-xs edit-account-btn" data-account-id="{{ account.id }}" title="Edit">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    {% if account.accountType.type in ['Asset account', 'Default account', 'Brokerage account', 'Holding account', 'Credit card', 'Loan', 'Debt', 'Mortgage'] %}
                                                    <button type="button" class="btn btn-warning btn-xs sync-account-btn" 
                                                            title="Sync Account" data-account-id="{{ account.id }}" data-account-name="{{ account.name }}">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>
                                                    {% endif %}
                                                    <a href="{{ route('accounts.delete', account.id) }}" class="btn btn-danger btn-xs" title="Delete">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Account Edit Modal Container -->
    <div id="editModalContainer"></div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        $(document).ready(function() {
            // Initialize filtering system
            initializeAccountFiltering();
            
            // Handle sync all accounts buttons
            $('.sync-all-accounts-btn').on('click', function() {
                var btn = $(this);
                var accountType = btn.data('account-type');
                
                btn.prop('disabled', true);
                btn.find('span').removeClass('fa-refresh').addClass('fa-spinner fa-spin');
                btn.find('span').after(' Syncing...');
                
                // Get all asset accounts for this section
                var accountIds = [];
                btn.closest('.panel').find('tbody tr').each(function() {
                    var accountId = $(this).find('a[href*="/accounts/"]').attr('href');
                    if (accountId) {
                        accountId = accountId.match(/\/accounts\/(\d+)/);
                        if (accountId && accountId[1]) {
                            accountIds.push(parseInt(accountId[1]));
                        }
                    }
                });
                
                if (accountIds.length === 0) {
                    alert('No accounts found to sync');
                    resetButton(btn);
                    return;
                }
                
                // Call the sync API for each account
                var promises = accountIds.map(function(accountId) {
                    return $.ajax({
                        url: '/api/v1/pfinance/consolidate-and-generate-transactions-for-account',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        },
                        data: JSON.stringify({
                            account_id: accountId.toString()
                        })
                    });
                });
                
                Promise.all(promises).then(function(results) {
                    var totalProcessed = results.reduce(function(sum, result) {
                        return sum + (result.result ? result.result.processed : 0);
                    }, 0);
                    alert('Sync completed! Processed ' + totalProcessed + ' transactions across ' + accountIds.length + ' accounts.');
                    window.location.reload();
                }).catch(function(error) {
                    console.error('Sync failed:', error);
                    alert('Sync failed: ' + (error.responseJSON && error.responseJSON.message ? error.responseJSON.message : 'Unknown error'));
                }).finally(function() {
                    resetButton(btn);
                });
            });
            
            // Handle match unknown button
            $('.match-unknown-btn').on('click', function() {
                var btn = $(this);
                btn.prop('disabled', true);
                btn.find('span').removeClass('fa-link').addClass('fa-spinner fa-spin');
                btn.find('span').after(' Matching...');
                
                $.ajax({
                    url: '/api/v1/pfinance/match-transactions',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: JSON.stringify({
                        window_days: 0,
                        dry_run: false,
                        exclude_account_ids: [2, 3]
                    }),
                    success: function(data) {
                        alert('Matched: ' + (data.result && data.result.matched) + '\nUpdated: ' + (data.result && data.result.updated));
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Match request failed:', xhr.responseText);
                        alert('Match request failed: ' + (xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : error));
                    },
                    complete: function() {
                        btn.prop('disabled', false);
                        btn.find('span').removeClass('fa-spinner fa-spin').addClass('fa-link');
                        btn.find('span').next().remove();
                    }
                });
            });
            
            // Handle individual account sync buttons
            $('.sync-account-btn').on('click', function() {
                var btn = $(this);
                var accountId = btn.data('account-id');
                var accountName = btn.data('account-name');
                
                btn.prop('disabled', true);
                btn.find('i').removeClass('fa-refresh').addClass('fa-spinner fa-spin');
                btn.attr('title', 'Syncing...');
                
                $.ajax({
                    url: '/api/v1/pfinance/consolidate-and-generate-transactions-for-account',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: JSON.stringify({
                        account_id: accountId.toString()
                    }),
                    success: function(data) {
                        var processed = data.result ? data.result.processed : 0;
                        alert('Sync completed for ' + accountName + '!\nProcessed ' + processed + ' transactions.');
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Sync failed for account ' + accountId + ':', xhr.responseText);
                        alert('Sync failed for ' + accountName + ': ' + (xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'Unknown error'));
                    },
                    complete: function() {
                        btn.prop('disabled', false);
                        btn.find('i').removeClass('fa-spinner fa-spin').addClass('fa-refresh');
                        btn.attr('title', 'Sync Account');
                    }
                });
            });
            
            function resetButton(btn) {
                btn.prop('disabled', false);
                btn.find('span').removeClass('fa-spinner fa-spin').addClass('fa-refresh');
                btn.find('span').next().remove();
            }
            
            // Handle edit account button click
            $(document).on('click', '.edit-account-btn', function(e) {
                e.preventDefault();
                var accountId = $(this).data('account-id');
                loadEditModal(accountId);
            });
            
            // Load edit modal content
            function loadEditModal(accountId) {
                // Load modal once if not already loaded
                if ($('#editAccountModal').length === 0) {
                    $.get('{{ route('accounts.edit.modal.new') }}')
                        .done(function(data) {
                            $('#editModalContainer').html(data);
                            // Now load the account data
                            loadEntityEditModal(accountId);
                        })
                        .fail(function() {
                            showErrorAlert('Error loading edit form');
                        });
                } else {
                    // Modal already loaded, just load the account data
                    loadEntityEditModal(accountId);
                }
            }
            
            // Form submission is now handled by the shared modal component
            
            // Alert functions for sync operations
            function showSuccessAlert(message) {
                var alert = '<div class="alert alert-success alert-dismissible fade in" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                            '<strong>Success!</strong> ' + message +
                            '</div>';
                
                $('.content-wrapper .content').prepend(alert);
                
                setTimeout(function() {
                    $('.alert-success').fadeOut();
                }, 5000);
            }
            
            function showErrorAlert(message) {
                var alert = '<div class="alert alert-danger alert-dismissible fade in" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                            '<strong>Error!</strong> ' + message +
                            '</div>';
                
                $('.content-wrapper .content').prepend(alert);
            }
        });
        
        // Account filtering functions
        function initializeAccountFiltering() {
            // Populate institution filter
            populateInstitutionFilter();
            
            // Set up event listeners
            document.getElementById('accountSearch').addEventListener('input', filterAccounts);
            document.getElementById('accountTypeFilter').addEventListener('change', filterAccounts);
            document.getElementById('institutionFilter').addEventListener('change', filterAccounts);
            document.getElementById('statusFilter').addEventListener('change', filterAccounts);
            document.getElementById('clearFilters').addEventListener('click', clearAllFilters);
            
            // Initial count update
            updateAccountCounts();
        }
        
        function populateInstitutionFilter() {
            var institutions = new Set();
            var rows = document.querySelectorAll('#accountsTableBody tr');
            
            rows.forEach(function(row) {
                var institution = row.getAttribute('data-institution');
                if (institution && institution.trim() !== '') {
                    institutions.add(institution);
                }
            });
            
            var institutionFilter = document.getElementById('institutionFilter');
            var options = Array.from(institutions).sort();
            
            // Clear existing options except "All Institutions"
            institutionFilter.innerHTML = '<option value="">All Institutions</option>';
            
            options.forEach(function(institution) {
                var option = document.createElement('option');
                option.value = institution;
                option.textContent = institution.charAt(0).toUpperCase() + institution.slice(1);
                institutionFilter.appendChild(option);
            });
        }
        
        function filterAccounts() {
            var searchTerm = document.getElementById('accountSearch').value.toLowerCase();
            var typeFilter = document.getElementById('accountTypeFilter').value;
            var institutionFilter = document.getElementById('institutionFilter').value;
            var statusFilter = document.getElementById('statusFilter').value;
            
            var rows = document.querySelectorAll('#accountsTableBody tr');
            var visibleCount = 0;
            
            rows.forEach(function(row) {
                var shouldShow = true;
                
                // Search filter
                if (searchTerm) {
                    var searchableText = row.textContent.toLowerCase();
                    if (!searchableText.includes(searchTerm)) {
                        shouldShow = false;
                    }
                }
                
                // Type filter
                if (typeFilter && row.getAttribute('data-account-type') !== typeFilter) {
                    shouldShow = false;
                }
                
                // Institution filter
                if (institutionFilter && row.getAttribute('data-institution') !== institutionFilter) {
                    shouldShow = false;
                }
                
                // Status filter
                if (statusFilter && row.getAttribute('data-status') !== statusFilter) {
                    shouldShow = false;
                }
                
                // Show/hide row
                if (shouldShow) {
                    row.style.display = '';
                    visibleCount++;
                } else {
                    row.style.display = 'none';
                }
            });
            
            // Update counts
            document.getElementById('visibleCount').textContent = visibleCount;
        }
        
        function clearAllFilters() {
            document.getElementById('accountSearch').value = '';
            document.getElementById('accountTypeFilter').value = '';
            document.getElementById('institutionFilter').value = '';
            document.getElementById('statusFilter').value = '';
            filterAccounts();
        }
        
        function updateAccountCounts() {
            var totalRows = document.querySelectorAll('#accountsTableBody tr').length;
            var visibleRows = document.querySelectorAll('#accountsTableBody tr:not([style*="display: none"])').length;
            
            document.getElementById('totalCount').textContent = totalRows;
            document.getElementById('visibleCount').textContent = visibleRows;
        }
    </script>
    
    <!-- Table Sorting Assets -->
    <link rel="stylesheet" href="{{ asset('css/table-sorting.css') }}" type="text/css" media="all" nonce="{{ JS_NONCE }}">
    <script src="{{ asset('v1/js/lib/bootstrap-sortable.js') }}" nonce="{{ JS_NONCE }}"></script>
    <script src="{{ asset('js/table-sorting.js') }}" nonce="{{ JS_NONCE }}"></script>
{% endblock %}
