{# Universal macro for rendering form fields based on type #}
{% macro renderField(fieldName, config, fieldValues) %}
    {% set value = fieldValues[fieldName]|default(config.default) %}
    {% set label = fieldName|_ %}
    {% set fieldOptions = config.options|default({}) %}
    {% set fieldOptions = fieldOptions|merge({label: label}) %}
    
    {% if config.type == 'text' %}
        {{ ExpandedForm.text(fieldName, value, fieldOptions) }}
    {% elseif config.type == 'textarea' %}
        {{ ExpandedForm.textarea(fieldName, value, fieldOptions) }}
    {% elseif config.type == 'checkbox' %}
        {{ ExpandedForm.checkbox(fieldName, 1, value, fieldOptions) }}
    {% elseif config.type == 'amount' %}
        {{ ExpandedForm.amountNoCurrency(fieldName, value, fieldOptions) }}
    {% elseif config.type == 'percentage' %}
        {{ ExpandedForm.percentage(fieldName, value, fieldOptions) }}
    {% elseif config.type == 'select' %}
        {{ ExpandedForm.select(fieldName, fieldOptions.choices|default({}), value, fieldOptions) }}
    {% else %}
        {# Fallback to text field #}
        {{ ExpandedForm.text(fieldName, value, fieldOptions) }}
    {% endif %}
{% endmacro %}

<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editAccountModalLabel">
                    <i class="fa fa-edit"></i>
                    {{ 'edit_account'|_ }}: {{ account.name }}
                </h4>
            </div>
            <form id="editAccountForm" method="post" action="{{ route('accounts.update.modal', account.id) }}" class="form-horizontal" accept-charset="UTF-8" enctype="multipart/form-data">
                {{ method_field('PUT') }}
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="id" value="{{ account.id }}"/>
                <input type="hidden" name="objectType" value="{{ objectType }}"/>
                
                <div class="modal-body">
                    <!-- set location data high up -->
                    <script type="text/javascript" nonce="{{ JS_NONCE }}">
                        var locations = {{ locations|json_encode|raw }};
                        var mapboxToken = "{{ config('firefly.mapbox_api_key') }}";
                    </script>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                                </div>
                                <div class="box-body">
                                    {# Render required fields #}
                                    {% for fieldName, config in fieldConfigurations %}
                                        {% if config.required %}
                                            {% if fieldName == 'currency_id' %}
                                                {% if canEditCurrency %}
                                                    {{ CurrencyForm.currencyList('currency_id', fieldValues.currency_id|default(account.currency_id), {helpText:'account_default_currency'|_}) }}
                                                {% else %}
                                                    <input type="hidden" name="currency_id" value="{{ currency.id }}"/>
                                                    {{ ExpandedForm.staticText('currency_id', trans('firefly.account_locked_currency', {name: currency.name})) }}
                                                {% endif %}
                                            {% elseif fieldName == 'owner' %}
                                                {{ ExpandedForm.select('owner', config.options.choices, fieldValues.owner|default(account.entity_id), {label: 'owner'|_}) }}
                                            {% elseif fieldName == 'liability_type_id' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.select('liability_type_id', liabilityTypes, fieldValues.liability_type_id|default(account.liability_type_id)) }}
                                            {% elseif fieldName == 'opening_balance' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.amountNoCurrency('opening_balance', fieldValues.opening_balance|default(preFilled.opening_balance), {label:'debt_start_amount'|_}) }}
                                            {% elseif fieldName == 'liability_direction' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.select('liability_direction', liabilityDirections, fieldValues.liability_direction|default(account.liability_direction)) }}
                                            {% elseif fieldName == 'opening_balance_date' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.date('opening_balance_date', fieldValues.opening_balance_date|default(preFilled.opening_balance_date), {label:'debt_start_date'|_}) }}
                                            {% elseif fieldName == 'interest' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.percentage('interest', fieldValues.interest|default(account.interest)) }}
                                            {% elseif fieldName == 'interest_period' and objectType == 'liabilities' %}
                                                {{ ExpandedForm.select('interest_period', interestPeriods, fieldValues.interest_period|default(account.interest_period)) }}
                                            {% else %}
                                                {# Use field configuration to render simple fields #}
                                                {{ _self.renderField(fieldName, config, fieldValues) }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ 'optionalFields'|_ }}</h3>
                                </div>
                                <div class="box-body">
                                    {# Render optional fields #}
                                    {% for fieldName, config in fieldConfigurations %}
                                        {% if not config.required %}
                                            {% if fieldName == 'account_number' %}
                                                {% if preFilled.account_role == 'ccAsset' %}
                                                    {{ ExpandedForm.text('account_number', fieldValues.account_number|default(account.account_number), {label:trans('form.creditCardNumber')}) }}
                                                {% else %}
                                                    {{ ExpandedForm.text('account_number', fieldValues.account_number|default(account.account_number)) }}
                                                {% endif %}
                                            {% elseif fieldName == 'BIC' %}
                                                {{ ExpandedForm.text('BIC', fieldValues.BIC|default(account.BIC), {maxlength: 11}) }}
                                            {% elseif fieldName == 'iban' %}
                                                {{ ExpandedForm.text('iban', fieldValues.iban|default(account.iban)) }}
                                            {% elseif fieldName == 'notes' %}
                                                {{ ExpandedForm.textarea('notes', fieldValues.notes|default(preFilled.notes), {helpText: trans('firefly.field_supports_markdown')}) }}
                                            {% elseif fieldName == 'include_net_worth' and showNetWorth %}
                                                {{ ExpandedForm.checkbox('include_net_worth', 1, fieldValues.include_net_worth|default(account.include_net_worth)) }}
                                            {% elseif fieldName == 'opening_balance' and (account.accountType.name == 'Default account' or account.accountType.name == 'Asset account' or account.accountType.name == 'Brokerage account' or account.accountType.name == 'Holding account') %}
                                                {{ ExpandedForm.amountNoCurrency('opening_balance', fieldValues.opening_balance|default(preFilled.opening_balance)) }}
                                            {% elseif fieldName == 'opening_balance_date' and (account.accountType.name == 'Default account' or account.accountType.name == 'Asset account' or account.accountType.name == 'Brokerage account' or account.accountType.name == 'Holding account') %}
                                                {{ ExpandedForm.date('opening_balance_date', fieldValues.opening_balance_date|default(preFilled.opening_balance_date)) }}
                                            {% elseif fieldName == 'account_role' and (account.accountType.name == 'Default account' or account.accountType.name == 'Asset account' or account.accountType.name == 'Brokerage account' or account.accountType.name == 'Holding account') %}
                                                {{ ExpandedForm.select('account_role', roles, fieldValues.account_role|default(preFilled.account_role)) }}
                                            {% elseif fieldName == 'virtual_balance' and (account.accountType.name == 'Default account' or account.accountType.name == 'Asset account' or account.accountType.name == 'Brokerage account' or account.accountType.name == 'Holding account') %}
                                                {{ ExpandedForm.amountNoCurrency('virtual_balance', fieldValues.virtual_balance|default(account.virtual_balance)) }}
                                            {% elseif fieldName == 'attachments' %}
                                                {{ ExpandedForm.file('attachments[]', {'multiple': 'multiple','helpText': trans('firefly.upload_max_file_size', {'size': uploadSize|filesize}) }) }}
                                            {% else %}
                                                {# Use field configuration to render simple fields #}
                                                {{ _self.renderField(fieldName, config, fieldValues) }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {# panel for credit card options #}
                            {% if preFilled.account_role == 'ccAsset' %}
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{{ 'credit_card_options'|_ }}</h3>
                                    </div>
                                    <div class="box-body">
                                        {{ ExpandedForm.select('cc_type', ccTypes, fieldValues.cc_type|default(account.cc_type)) }}
                                        {{ ExpandedForm.date('cc_monthly_payment_date', fieldValues.cc_monthly_payment_date|default(account.cc_monthly_payment_date), {'helpText' : trans('firefly.cc_monthly_payment_date_help')}) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {# Location section - only show if location is supported #}
                    {% if config('firefly.mapbox_api_key') %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{{ 'location'|_ }}</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="location_has_location" value="true" {% if locations.location.has_location %}checked{% endif %}>
                                                        {{ 'location_has_location'|_ }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="location-fields" style="{% if not locations.location.has_location %}display: none;{% endif %}">
                                            <div class="form-group">
                                                <label for="location_latitude" class="col-sm-3 control-label">{{ 'latitude'|_ }}</label>
                                                <div class="col-sm-9">
                                                    <input type="number" step="any" class="form-control" id="location_latitude" name="location_latitude" value="{{ locations.location.latitude }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="location_longitude" class="col-sm-3 control-label">{{ 'longitude'|_ }}</label>
                                                <div class="col-sm-9">
                                                    <input type="number" step="any" class="form-control" id="location_longitude" name="location_longitude" value="{{ locations.location.longitude }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="location_zoom_level" class="col-sm-3 control-label">{{ 'zoom_level'|_ }}</label>
                                                <div class="col-sm-9">
                                                    <input type="number" class="form-control" id="location_zoom_level" name="location_zoom_level" value="{{ locations.location.zoom_level }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div id="location-map" style="height: 300px; width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|_ }}</button>
                    <button type="submit" class="btn btn-primary" id="saveAccountBtn">{{ 'save_changes'|_ }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" nonce="{{ JS_NONCE }}">
$(document).ready(function() {
    // Handle location checkbox toggle
    $('input[name="location_has_location"]').change(function() {
        if ($(this).is(':checked')) {
            $('#location-fields').show();
        } else {
            $('#location-fields').hide();
        }
    });
    
    // Initialize map if location is enabled and mapbox token exists
    {% if config('firefly.mapbox_api_key') and locations.location.has_location %}
        if (typeof mapboxgl !== 'undefined') {
            mapboxgl.accessToken = mapboxToken;
            
            var map = new mapboxgl.Map({
                container: 'location-map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ locations.location.longitude }}, {{ locations.location.latitude }}],
                zoom: {{ locations.location.zoom_level }}
            });
            
            var marker = new mapboxgl.Marker()
                .setLngLat([{{ locations.location.longitude }}, {{ locations.location.latitude }}])
                .addTo(map);
                
            // Update marker position when map is clicked
            map.on('click', function(e) {
                marker.setLngLat(e.lngLat);
                $('#location_longitude').val(e.lngLat.lng);
                $('#location_latitude').val(e.lngLat.lat);
            });
        }
    {% endif %}
});
</script>