{% extends './layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, account, start, end) }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="{% if attachments.count() == 0 %}col-lg-12 col-md-12 col-sm-12 col-xs-12{% else %}col-lg-8 col-md-6 col-sm-12 col-xs-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="fa fa-line-chart"></span> Account Overview
                    </h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><span
                                    class="fa fa-ellipsis-v"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('accounts.edit', account.id) }}"><span
                                            class="fa fa-pencil fa-fw"></span> {{ 'edit'|_ }}</a></li>
                                <li><a href="{{ route('accounts.delete', account.id) }}"><span
                                            class="fa fa-trash fa-fw"></span> {{ 'delete'|_ }}</a></li>
                                <li>
                                    <a href="{{ route('accounts.reconcile',account.id) }}"><span class="fa fa-fw fa-check"></span> {{ 'reconcile_this_account'|_ }}</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" id="consolidate-transactions-btn" data-account-id="{{ account.id }}">
                                        <span class="fa fa-fw fa-compress"></span> Consolidate Transactions
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="generate-firefly-transactions-btn" data-account-id="{{ account.id }}">
                                        <span class="fa fa-fw fa-fire"></span> Generate Firefly Transactions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <!-- Account Summary Table -->
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td style="width:40%;">{{ trans('list.current_balance') }}</td>
                                        <td>
                                            {% if balances.balance %}
                                                {{ formatAmountBySymbol(balances.balance, currency.symbol, currency.decimal_places, true)|raw }}
                                            {% elseif balances.pc_balance %}
                                                {{ formatAmountBySymbol(balances.pc_balance, defaultCurrency.symbol, defaultCurrency.decimal_places, true)|raw }}
                                            {% else %}
                                                {{ 'no_data'|_ }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:40%;">{{ trans('list.name') }}</td>
                                        <td>{{ account.name|escape }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ trans('list.account_type') }}</td>
                                        <td>{{ account.accountType.type|_ }}</td>
                                    </tr>
                                    {% if account.iban %}
                                    <tr>
                                        <td>{{ trans('list.iban') }}</td>
                                        <td>{{ account.iban }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if account.account_number %}
                                    <tr>
                                        <td>{{ trans('list.account_number') }}</td>
                                        <td>{{ account.account_number }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>Period</td>
                                        <td>
                                            {% if showAll %}
                                                All transactions
                                            {% else %}
                                                {{ start.isoFormat(monthAndDayFormat) }} - {{ end.isoFormat(monthAndDayFormat) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ trans('form.currency') }}</td>
                                        <td>
                                            {% if balances.balance %}
                                                {{ currency.name }} ({{ currency.symbol }})
                                            {% else %}
                                                {{ defaultCurrency.name }} ({{ defaultCurrency.symbol }})
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if account.notes.count() > 0 %}
                                    <tr>
                                        <td>{{ trans('list.notes') }}</td>
                                        <td>{{ account.notes.first().text|markdown }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!-- Chart Section -->
                    <div class="row">
                        <div class="col-12">
                            <h4 style="text-align: center; margin-bottom: 20px; color: white;">
                                Account Balance Over Time
                            </h4>
                            <div>
                                <canvas id="overview-chart" style="width:100%;height:400px;" height="400" width="100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if attachments.count() > 0 %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ 'attachments'|_ }}
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        {% include 'list.attachments' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    {% if not showAll and isLiability %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">pay-off by date</h3>
                    </div>
                    <div class="box-body">
                        Content
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not showAll and not isLiability %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'expenses_by_category'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <div style="width:100%;margin:0 auto;">
                            <canvas id="account-cat-out" style="width:100%;height:250px;" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'expenses_by_budget'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <div style="width:100%;margin:0 auto;">
                            <canvas id="account-budget-out" style="width:100%;height:250px;" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'income_by_category'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <div style="width:100%;margin:0 auto;">
                            <canvas id="account-cat-in" style="width:100%;height:250px;" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% if(location) %}
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'location'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <div id="location_map" style="width:100%;height:300px;"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if account.notes.count() == 1 %}
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'notes'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ account.notes.first().text|markdown }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="{% if periods|length > 0 %}col-lg-10 col-md-8 col-sm-12{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{ 'transactions'|_ }}
                    </h3>
                    <div class="box-tools pull-right">
                        {% if account.accountType.type == 'Brokerage account' %}
                            {% if hideHoldTransactions %}
                                {% if showAll %}
                                    <a href="{{ route('accounts.show.all', [account.id]) }}" class="btn btn-warning btn-sm" title="{{ 'show_hold_transactions_title'|_ }}">
                                        <span class="fa fa-eye"></span> {{ 'show_hold_transactions'|_ }}
                                    </a>
                                {% else %}
                                    <a href="{{ route('accounts.show', [account.id, start.format('Y-m-d'), end.format('Y-m-d')]) }}" class="btn btn-warning btn-sm" title="{{ 'show_hold_transactions_title'|_ }}">
                                        <span class="fa fa-eye"></span> {{ 'show_hold_transactions'|_ }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if showAll %}
                                    <a href="{{ route('accounts.show.all', [account.id]) }}?hide_hold=1" class="btn btn-info btn-sm" title="{{ 'hide_hold_transactions_title'|_ }}">
                                        <span class="fa fa-eye-slash"></span> {{ 'hide_hold_transactions'|_ }}
                                    </a>
                                {% else %}
                                    <a href="{{ route('accounts.show', [account.id, start.format('Y-m-d'), end.format('Y-m-d')]) }}?hide_hold=1" class="btn btn-info btn-sm" title="{{ 'hide_hold_transactions_title'|_ }}">
                                        <span class="fa fa-eye-slash"></span> {{ 'hide_hold_transactions'|_ }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <button class="btn btn-primary btn-sm" id="consolidate-transactions-btn" data-account-id="{{ account.id }}">
                            <span class="fa fa-compress"></span> Consolidate Transactions
                        </button>
                        <button class="btn btn-success btn-sm" id="generate-firefly-transactions-btn" data-account-id="{{ account.id }}">
                            <span class="fa fa-fire"></span> Generate Firefly Transactions
                        </button>
                        <button class="btn btn-warning btn-sm" id="consolidate-and-generate-btn" data-account-id="{{ account.id }}" title="Consolidate & Generate Transactions">
                            <span class="fa fa-refresh"></span>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if account.accountType.type == 'Asset account' %}
                        {% set showReconcile = true %}
                    {% else %}
                        {% set showReconcile = false %}
                    {% endif %}

                    {% include 'list.groups' %}
                    <p>
                        <span class="fa fa-calendar"></span>
                        {% if periods|length > 0 %}
                            <a href="{{ route('accounts.show.all', [account.id]) }}">
                                {{ 'show_all_no_filter'|_ }}
                            </a>
                        {% else %}
                            <a href="{{ route('accounts.show', [account.id]) }}">
                                {{ 'show_the_current_period_and_overview'|_ }}
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% if periods|length > 0 %}
            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                {% include 'list.periods' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        // location stuff
        {% if location %}
        var latitude = {{ location.latitude|default("52.3167") }};
        var longitude = {{ location.longitude|default("5.5500") }};
        var zoomLevel = {{ location.zoom_level|default("6") }};
        {% endif %}

        var showAll = true;
        currencySymbol = "{{ currency.symbol }}";
        var accountID = {{ account.id }};
        var chartUrl = '{{ chartUrl }}';
        {% if not showAll %}
        showAll = false;
        // url's for charts:

        var incomeCategoryUrl = '{{ route('chart.account.income-category', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';
        var expenseCategoryUrl = '{{ route('chart.account.expense-category', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';
        var expenseBudgetUrl = '{{ route('chart.account.expense-budget', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';
        var drawVerticalLine = '';
        var lineColor = 'red';
        var lineTextColor = '#000';
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            lineColor = '#a00';
            lineTextColor = '#bec5cb';
        }
        {# render vertical line with text "today"  #}
        {% if start.lte(today) and end.gte(today) %}
        drawVerticalLine = '{{ today.isoFormat(monthAndDayFormat) }}';
        {% endif %}
        {% endif %}

    </script>
    {% if location %}
        <script src="v1/lib/leaflet/leaflet.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    {% endif %}
    <script type="text/javascript" src="v1/js/lib/moment.min.js?v={{ FF_VERSION }}"
            nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/lib/Chart.bundle.min.js?v={{ FF_VERSION }}"
            nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/lib/daterangepicker.js?v={{ FF_VERSION }}"
            nonce="{{ JS_NONCE }}"></script>
    <link rel="stylesheet" type="text/css" href="v1/css/daterangepicker-default.css?v={{ FF_VERSION }}" />
    <style>
        /* Custom styling for the date range picker */
        .daterangepicker {
            width: auto !important;
            max-width: calc(100vw - 40px) !important; /* Ensure it fits within viewport with some margin */
        }
        .daterangepicker .ranges {
            width: 160px !important;
            float: left;
        }
        .daterangepicker .drp-calendar {
            width: 280px !important;
            float: left;
        }
        .daterangepicker .drp-calendar.left {
            margin-right: 0 !important;
        }
        .daterangepicker .drp-calendar.right {
            margin-left: 0 !important;
        }
        .daterangepicker .drp-calendar.left,
        .daterangepicker .drp-calendar.right {
            display: inline-block !important;
            vertical-align: top !important;
        }
        /* Clear floats to prevent layout issues */
        .daterangepicker::after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive behavior for smaller screens */
        @media (max-width: 768px) {
            .daterangepicker .drp-calendar {
                width: 240px !important;
            }
            .daterangepicker .ranges {
                width: 140px !important;
            }
        }
        @media (max-width: 600px) {
            .daterangepicker .drp-calendar {
                width: 200px !important;
            }
            .daterangepicker .ranges {
                width: 120px !important;
            }
        }
    </style>
    <script type="text/javascript" src="v1/js/lib/chartjs-plugin-annotation.min.js?v={{ FF_VERSION }}"
            nonce="{{ JS_NONCE }}"></script>
    <!-- Chart.js Crosshair Plugin (patched with safety fix) -->
    <script type="text/javascript" src="v1/js/lib/chartjs-plugin-crosshair.min.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/charts.defaults.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/charts.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>

    <script src="v1/js/lib/jquery-ui.min.js?v={{ FF_VERSION }}" type="text/javascript" nonce="{{ JS_NONCE }}"></script>
    <script src="v1/js/lib/jquery.color-2.1.2.min.js?v={{ FF_VERSION }}" type="text/javascript"
            nonce="{{ JS_NONCE }}"></script>
    <script src="v1/js/ff/shared/consolidate-and-generate.js?v={{ FF_VERSION }}" type="text/javascript" nonce="{{ JS_NONCE }}"></script>
    <script src="v1/js/ff/accounts/show.js?v={{ FF_VERSION }}" type="text/javascript" nonce="{{ JS_NONCE }}"></script>
    
    <!-- Custom chart initialization with crosshair and enhanced tooltips -->
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        $(function() {
            // Set initial value in header date range display with readable format
            $('#daterange').text('{{ start.format('F jS, Y') }} - {{ end.format('F jS, Y') }}');
            
            // Make the header date range clickable and initialize enhanced date range picker
            $('#daterange').attr('title', 'Click to change date range');
            $('#daterange').daterangepicker({
                startDate: moment('{{ start.format('Y-m-d') }}'),
                endDate: moment('{{ end.format('Y-m-d') }}'),
                opens: 'center',
                showDropdowns: true,
                showWeekNumbers: false,
                showISOWeekNumbers: false,
                autoUpdateInput: false,
                alwaysShowCalendars: false,
                drops: 'down',
                singleDatePicker: false,
                linkedCalendars: false,
                minDate: moment('2000-01-01'),
                maxDate: moment(),
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' - ',
                    applyLabel: 'Apply',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    weekLabel: 'W',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last 3 Months': [moment().subtract(3, 'months'), moment()],
                    'Last 6 Months': [moment().subtract(6, 'months'), moment()],
                    'This Year': [moment().startOf('year'), moment().endOf('year')],
                    'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
                    'Last 2 Years': [moment().subtract(2, 'years'), moment()],
                    'Last 5 Years': [moment().subtract(5, 'years'), moment()],
                    'All Time': [moment().subtract(10, 'years'), moment()]
                }
            }, function(start, end, label) {
                // Debug: Log the raw callback parameters
                console.log('Date range picker callback - raw start:', start, 'raw end:', end, 'label:', label);
                console.log('Start type:', typeof start, 'End type:', typeof end);
                console.log('Start isMoment:', moment.isMoment(start), 'End isMoment:', moment.isMoment(end));
                
                // Ensure we have valid moment objects
                if (!moment.isMoment(start) || !moment.isMoment(end)) {
                    console.error('Invalid moment objects in callback:', start, end);
                    return;
                }
                
                // Format dates using the same format as the working URL
                var startFormatted = start.format('YYYY-MM-DD');
                var endFormatted = end.format('YYYY-MM-DD');
                
                // Update the header date range display with readable format
                var startReadable = start.format('MMMM Do, YYYY');
                var endReadable = end.format('MMMM Do, YYYY');
                $('#daterange').text(startReadable + ' - ' + endReadable);
                
                // Debug: Log the formatted dates
                console.log('Date range picker callback - formatted start:', startFormatted, 'formatted end:', endFormatted);
                
                // Update chart when date range changes
                updateChartDateRange(start, end);
            });
            
            // Custom logic to filter end year options based on start year
            $('#daterange').on('show.daterangepicker', function(ev, picker) {
                // Function to update end year options based on start year
                function updateEndYearOptions() {
                    var startYear = picker.startDate.year();
                    var endYearSelect = picker.container.find('.drp-calendar.right .yearselect');
                    var currentEndYear = picker.endDate.year();
                    
                    // Clear existing options
                    endYearSelect.empty();
                    
                    // Add years from start year to current year
                    for (var year = startYear; year <= moment().year(); year++) {
                        var option = $('<option></option>')
                            .attr('value', year)
                            .text(year)
                            .prop('selected', year === currentEndYear);
                        endYearSelect.append(option);
                    }
                }
                
                // Update end year options when start year changes
                picker.container.find('.drp-calendar.left .yearselect').on('change', function() {
                    var newStartYear = parseInt($(this).val());
                    var newStartDate = picker.startDate.clone().year(newStartYear);
                    
                    // Update start date
                    picker.setStartDate(newStartDate);
                    
                    // Update end year options
                    updateEndYearOptions();
                    
                    // If current end year is before new start year, adjust end date
                    if (picker.endDate.year() < newStartYear) {
                        var newEndDate = newStartDate.clone();
                        picker.setEndDate(newEndDate);
                    }
                });
                
                // Update end date when end year changes
                picker.container.find('.drp-calendar.right .yearselect').on('change', function() {
                    var newEndYear = parseInt($(this).val());
                    var newEndDate = picker.endDate.clone().year(newEndYear);
                    picker.setEndDate(newEndDate);
                });
                
                // Initial setup
                updateEndYearOptions();
            });
            
            // Note: Using category scale instead of time scale to avoid date adapter issues
            
            // Override the default lineNoStartZeroChart call with crosshair and enhanced tooltips
            var colorData = true;
            var options = $.extend(true, {}, defaultChartOptions);
            var chartType = 'line';
            
            // Set beginAtZero to false for account balance charts
            options.scales.y.ticks.beginAtZero = false;
            
            // Conditional fill colors are now handled in charts.js
            
            // Enhanced tooltip configuration for Chart.js 4.x
            options.plugins = options.plugins || {};
            options.plugins.tooltip = $.extend(true, options.plugins.tooltip || {}, {
                mode: 'index',
                intersect: false,
                enabled: true,
                position: 'nearest',
                callbacks: {
                    title: function(context) {
                        // Show the actual label from the chart data
                        if (context.length > 0 && context[0].chart && context[0].chart.data && context[0].chart.data.labels) {
                            var index = context[0].dataIndex;
                            return context[0].chart.data.labels[index] || '';
                        }
                        return '';
                    },
                    label: function(context) {
                        // Show account name, currency, and balance using proper accounting formatting
                        var dataset = context.dataset;
                        var value = context.parsed.y;
                        var currency = dataset.currency_symbol || '';
                        var accountName = dataset.label || 'Account';
                        
                        // Use accounting.formatMoney for proper currency formatting (like the original)
                        var formattedValue = accounting.formatMoney(value, currency);
                        
                        return accountName + ': ' + formattedValue;
                    }
                }
            });
            
            // Crosshair configuration is now handled in the chart creation logic
            
            // Note: Chart.js v4 zoom requires a separate plugin
            // For now, we'll use the date range picker for zoom functionality
            
            // Debug: Log the final options
            console.log('Final chart options:', options);
            
            // Note: We don't register the crosshair plugin globally to avoid conflicts with pie charts
            // The crosshair plugin will be applied only to the line chart via the options.plugins.crosshair configuration
            
            // Chart title is now handled by HTML above the chart
            
            // Debug: Log the chart options
            console.log('Chart options:', options);
            console.log('Chart URL:', chartUrl);
            
            // Call the chart drawing function with our custom options
            drawAChart(chartUrl, 'overview-chart', chartType, options, colorData);
        });
        
        // Function to update chart when date range changes
        function updateChartDateRange(start, end) {
            // Ensure we have valid moment objects
            if (!moment.isMoment(start) || !moment.isMoment(end)) {
                console.error('Invalid date objects passed to updateChartDateRange:', start, end);
                return;
            }
            
            var startDate = start.format('YYYY-MM-DD');
            var endDate = end.format('YYYY-MM-DD');
            
            // Validate the formatted dates
            if (!startDate.match(/^\d{4}-\d{2}-\d{2}$/) || !endDate.match(/^\d{4}-\d{2}-\d{2}$/)) {
                console.error('Invalid date format:', startDate, endDate);
                return;
            }
            
            // Build new chart URL with updated date range
            // Use the same pattern as the original chartUrl but replace the dates
            var baseUrl = '{{ chartUrl }}';
            var newChartUrl = baseUrl.replace(/\/\d{4}-\d{2}-\d{2}\/\d{4}-\d{2}-\d{2}$/, '/' + startDate + '/' + endDate);
            
            console.log('Updating chart with new date range:', startDate, 'to', endDate);
            console.log('Original chart URL:', baseUrl);
            console.log('New chart URL:', newChartUrl);
            console.log('Current chart exists:', !!allCharts['overview-chart']);
            
            // Show loading indicator
            $('#overview-chart').css('opacity', '0.5');
            
            // Update the page URL to reflect the new date range (as path parameters, not query parameters)
            // TODO: Consider updating the backend route to accept start/end dates as query parameters instead of path parameters
            // This would be more intuitive: /accounts/show/123?start=2025-01-01&end=2025-10-08
            // Current route expects: /accounts/show/123/2025-01-01/2025-10-08
            var currentPath = window.location.pathname;
            var accountId = currentPath.match(/\/accounts\/show\/(\d+)/)[1];
            var newUrl = '/accounts/show/' + accountId + '/' + startDate + '/' + endDate;
            window.history.pushState({}, '', newUrl);
            
            // Update the chart with new data
            $.getJSON(newChartUrl).done(function(data) {
                console.log('New chart data received:', data);
                console.log('Data labels:', data.labels);
                console.log('Data datasets:', data.datasets);
                
                // Update the existing chart with new data
                if (allCharts['overview-chart']) {
                    console.log('Updating existing chart...');
                    
                    // Apply conditional fill colors for line charts
                    if (data.datasets && data.datasets.length > 0) {
                        applyConditionalFillColors(data.datasets[0]);
                    }
                    
                    allCharts['overview-chart'].data.labels = data.labels;
                    allCharts['overview-chart'].data.datasets = data.datasets;
                    allCharts['overview-chart'].update('none'); // Use 'none' for instant update
                    console.log('Chart updated successfully');
                } else {
                    console.error('Chart not found in allCharts');
                }
                
                // Hide loading indicator
                $('#overview-chart').css('opacity', '1');
            }).fail(function(xhr, status, error) {
                console.error('Failed to load new chart data:', status, error);
                console.error('Response:', xhr.responseText);
                alert('Failed to load chart data for the selected date range: ' + error);
                
                // Hide loading indicator
                $('#overview-chart').css('opacity', '1');
            });
        }
        
    </script>
    {# required for groups.twig #}
    <script type="text/javascript" src="v1/js/ff/list/groups.js?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}"></script>
    
    
{% endblock %}

{% block styles %}
    {% if location %}
        <link rel="stylesheet" href="v1/lib/leaflet/leaflet.css?v={{ FF_VERSION }}" nonce="{{ JS_NONCE }}">
    {% endif %}
{% endblock %}
